.button {
    background: $color-primary;
    color: $color-gray-lightest;
    font-family: $font-sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    border: none;
    border-radius: 0;
    padding: 10px 24px;
}
