.form-field {
    margin-bottom: $grid-gutter-width;

    &__label {
        color: $color-gray-darkest;
        font-family: $font-sans-serif;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 4px;
        display: block;

        .has-error > & {
            color: red;
        }
    }

    &__input {
        border: 1px solid $color-gray;
        background-color: $color-white;
        font-family: $font-sans-serif;
        font-size: 14px;
        font-weight: 400;
        display: block;
        width: 100%;
        box-sizing: border-box;
        max-width: 100%;
        min-width: 100%;
        padding: 6px 10px;

        .has-error > & {
            border-color: red;

            &:focus {
                outline: none;
                box-shadow: 0 0 5px 0 red;
            }
        }
    }
}
