.page-header {
    background: $color-primary;
    &__content {
        position: relative;
    }
}

.header-logo {
    color: $color-primary-light;
    margin: 0;
    font-family: $font-sans-serif;
    font-size: 60px;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    left: 0;
}

.top-menu {
    float: right;
    padding: 23px 0 20px;
    &__link {
        color: $color-black;
        text-decoration: none;
        font-size: 14px;
        margin-left: 9px;
        &:hover {
            text-decoration: underline;
        }
    }
}

.header-menu {
    float: right;
    clear: both;
    &__list {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__item {
        display: inline-block;
        position: relative;
        margin-left: 15px;
    }
    &__link {
        display: block;
        color: $color-white;
        font-size: 20px;
        text-decoration: none;
        padding: 15px 0 12px;
        :hover>& {
            color: $color-gray-darker;
        }
    }
}

.header-submenu {
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        background: $color-gray-dark-2;
        position: absolute;
        top: 100%;
        left: 50%;
        width: 150px;
        margin-left: -75px;
        display: none;
        :hover>& {
            display: block;
        }
        &:before {
            content: '';
            border: 10px solid transparent;
            border-top: 0;
            border-bottom-color: $color-gray-dark-2;
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -10px;
        }
    }
    &__item {
        display: block;
    }
    &__link {
        color: $color-white;
        font-size: 12px;
        font-weight: 400;
        text-decoration: none;
        display: block;
        padding: 6px 7px;
        &:hover {
            background: $color-gray-dark;
        }
    }
}
