.header-logo {
    color: $color-primary-light;
    margin: 0;
    font-family: $font-sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: 700;

    @media all and (min-width: $break-point-md-min) {
        font-size: 60px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
