.row {
    margin-left: -$grid-gutter-width / 2;
    margin-right: -$grid-gutter-width / 2;
    display: flex;
}

.col {
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
    float: left;
    width: 100%;
    box-sizing: border-box;
    float: 1;
}

.col-1-2 {
    width: 50%;
    flex: 0 0 percentage(1 / 2);
}

.col-1-3 {
    width: percentage(1 / 3);
    flex: 0 0 percentage(1 / 3);
}

.col-2-3 {
    width: percentage(2 / 3);
    flex: 0 0 percentage(2 / 3);
}

.gutter-l {
    &.row {
        margin-left: -15px;
        margin-right: -15px;

        > .col {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
