.content-main {
    @media all and (min-width: $break-point-md-min) {
        float: left;
        width: $container-md - $sidebar-width - $grid-gutter-width - $container-padding * 2;
    }
    @media all and (min-width: $break-point-lg-min) {
        width: $container-lg - $sidebar-width - $grid-gutter-width - $container-padding * 2;
    }
    @media all and (min-width: $break-point-xl-min) {
        width: $container-xl - $sidebar-width - $grid-gutter-width - $container-padding * 2;
    }
}

.content-sidebar {
    @media all and (min-width: $break-point-md-min) {
        width: $sidebar-width;
        float: right;
    }
}
